@import "../../../app/globals.scss";

#service .overview .item_list .item {
  padding: 50px;
  border: 0.5px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @apply transition-colors;
  @apply duration-500;
  @apply ease-in-out;

  @include mobile {
    border: none;
    align-items: center;
    gap: 18px;
    padding: 10px;
  }

  p {
    @include mobile {
      display: none;
    }
  }

  button {
    padding: 10px;
    background-color: orange;
    border: none;
    cursor: pointer;

    @include mobile {
      background-color: transparent;
      border: 1px solid orange;
      border-radius: 5px;
      color: orange;
      width: 50%;
      padding: 5px;
    }
  }
}
