@import "../../../app/globals.scss";

#Contact ._container {
  height: 100%;
  max-width: $screen-desktop;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
}
