@import "../../../../app/globals.scss";

#Contact ._container #form {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    label {
      color: red;
      font-weight: bold;
    }

    input,
    textarea {
      padding: 20px;
      background-color: transparent;
      border: 1px solid #ffffff;
      color: #ffffff;
      border-radius: 5px;
      z-index: 1000;
      @include mobile {
        padding: 10px;
      }
    }

    button {
      padding: 20px;
      border: none;
      background-color: orange;
      cursor: pointer;
      font-weight: bold;
      font-size: 26px;
      color: #000000;
      z-index: 1000;
      @include mobile {
        padding: 10px;
        margin-bottom: 100pt;
      }
    }
  }
}
