@import "../../../../app/globals.scss";

#Contact {
  @include mobile {
    height: fit-content;
  }
}

#Contact ._container #form {
  flex: 1;
  position: relative;

  @include mobile {
    padding: 50px;
    width: 100%;
  }
}
