@import "../../app/globals.scss";

#parallax {
  h1 {
    font-size: 100px;
    font-weight: bold;
    @include mobile {
      font-size: 62px;
      text-align: center;
    }
  }

  .mountains {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;

    @include tablet {
      height: 75%;
      bottom: 0;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @include mobile {
      height: 50%;
    }
  }

  .planets {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
}
