@import "../../app/globals.scss";

#service .overview .item_list {
  display: flex;
  flex: 2;
  max-width: $screen-desktop;
  margin: auto;

  @include mobile {
    flex-direction: column;
    width: 100%;
  }
}
