@import "./style/variables/screen.scss";
@import "./style/variables/colors.scss";

$primary-color: #64ff00;

:export {
  primaryColor: $primary-color;
  desktopScreen: $screen-desktop;
  tabletScreen: $screen-tablet;
  mobileScreen: $screen-mobile;
}
