@import "../../../app/globals.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: $screen-desktop;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }
  }

  .social {
    display: flex;
    gap: 20px;

    @include mobile {
      gap: 10px;
    }
  }
}
