@import "../../../app/globals.scss";

#Services {
  .overview {
    background: $background-gradient;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
