@import "../../../../app/globals.scss";

#_portifolio .overview .item .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .wrapper {
    max-width: $screen-desktop;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
